<!DOCTYPE html>
<html>
<head>
    <title>static files</title>
</head>
<body>
   <h2>Static Files</h2>
  <img src="1.jpg" width="800" height="auto" alt="no-image"/>
  <img src="2.jpg" width="800" height="auto" alt="no-image"/>
</body>
</html>